<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment = "navbar" >

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a th:href="@{/}" class="nav-link "  href="#">Home</a>
          </li>

          <li class="nav-item">
            <a th:href="@{/department}" class="nav-link" href="#">Department</a>
          </li>
          <li class="nav-item">
            <a  th:href="@{/employee}" class="nav-link" href="#">Employee</a>
          </li>
          <li class="nav-item">
            <a  th:href="@{/accessories}" class="nav-link" href="#">Accessories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " >Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>

<div th:fragment="generic_css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
</div>
</body>
</html>