<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://thymeleaf.org">
<head>

</head>
<body>

<div th:fragments="navbar" class = "container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/employee}">Employee</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/designation}">Designation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/department}">Department</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/accessories}">Accessories</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>

<!--                    <form class="form-inline my-2 my-lg-0" method="get">-->
<!--                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"-->
<!--                               name="keyword" hidden value="true" >-->

<!--                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                            <a th:href="@{/find-by-keyword/true}" class="dropdown-item ">Show Active</a>-->
<!--                            <a class="dropdown-item" th:href="@{/find-by-keyword/false}">Show Inactive</a>-->
<!--                        </div>-->

<!--                    </form>-->

                </li>
            </ul>

            <!--<form class="form-inline my-2 my-lg-0" method="get" th:action="@{/submit}">!-->

            <form class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="keyword" >
                <a th:href="@{/find-by-keyword/} + ${keyword}"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
            </form>

        </div>
    </nav>
</div>
<div th:fragments="generic_css">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</div>
</body>
</html>