<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Employee Home Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div th:fragments="generic_css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    </div>
    <div th:fragments="navbar" class = "container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--        <a class="navbar-brand" th:href="@{/showloginPage}">Desi</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/employee}">Employee</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/designation}">Designation</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/department}">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/accessories}">Accessories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>

                        <!--                    <form class="form-inline my-2 my-lg-0" method="get">-->
                        <!--                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"-->
                        <!--                               name="keyword" hidden value="true" >-->

                        <!--                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--                            <a th:href="@{/find-by-keyword/true}" class="dropdown-item ">Show Active</a>-->
                        <!--                            <a class="dropdown-item" th:href="@{/find-by-keyword/false}">Show Inactive</a>-->
                        <!--                        </div>-->

                        <!--                    </form>-->

                    </li>
                </ul>

                <!--<form class="form-inline my-2 my-lg-0" method="get" th:action="@{/submit}">!-->

                <form class="form-inline my-2 my-lg-0" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           name="keyword" >
                    <a th:href="@{/find-by-keyword/} + ${keyword}"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
                </form>

            </div>
        </nav>
    </div>

    <br>
    <div class="row">
        <div class="col-md-4">
            <h3>Employee Form</h3>
            <hr>
            <form th:action="@{employee}" th:method="post" th:object="${employeeDto}">
                <div class="form-group">
                    <label >Employee Full Name</label>
                    <input type="text" class="form-control" placeholder="Full Name" th:field="*{fullName}" required>
                </div>
                <br>
                <div class="form-group">
                    <label >Employee Address</label>
                    <input type="text" class="form-control" placeholder="Address" th:field="*{address}" required>
                </div>
                <br>
                <div class="form-group">
                    <label >Email Address</label>
                    <input type="email" class="form-control" placeholder="test@gmail.com" th:field="*{emailId}" required>
                </div>
                <br>
                <div class="form-group">
                    <label >Contact Number</label>
                    <input type="text" class="form-control" placeholder="98********" th:field="*{phoneNo}" th:max="10" required>
                </div>
                <br>
                <div class="form-group">
                    <label >Age</label>
                    <input type="number" class="form-control" th:field="*{age}" required>
                </div>
                <br>
                <div>
                    <label >Department</label>
                    <select class="form-select" aria-label="Default select example" th:field="*{departmentId}" required>
                        <option selected th:value="0">Select Department</option>
                        <option th:each="d: ${departmentList}" th:value="${d.id}" th:text="${d.departmentName}"></option>
                    </select>
                </div>
                <br>
                <div class="mb-3">
                    <label >Accessories</label>
                    <select class="form-select" multiple aria-label="multiple select example" size="6" th:field="*{accessoriesIdList}" required>
                        <option selected th:value="0">Select Accessories</option>
                        <option th:each="a: ${accessoriesList}" th:value="${a.id}" th:text="${a.accessoriesName}+'-'+${a.serialKey}"></option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="submit" class="btn btn-danger">Reset</button>
            </form>
            <p style="font-style: italic" th:text="${message}"></p>
        </div>
        <div class="col-md-8">
            <h3>Employee List</h3>
            <hr>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">SN</th>
                    <th scope="col">Employee Full Name</th>
                    <th scope="col">Address</th>
                    <th scope="col">Contact Number</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="e , iter : ${employeeDtoList}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${e.fullName}"></td>
                    <td th:text="${e.address}"></td>
                    <td th:text="${e.phoneNo}"></td>

<!--                    <td>-->
<!--                        <a th:href="@{~/accessories/find-by-id/}+${a.id}">-->
<!--                            <button class="btn btn-sm btn-primary">Edit</button>-->
<!--                        </a>-->
<!--                        <a th:href="@{~/accessories/delete/}+${a.id}">-->
<!--                            <button class="btn btn-sm btn-danger">Disable</button>-->
<!--                        </a>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>