<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>designation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div th:fragments="generic_css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</div>
<div th:fragments="navbar" class = "container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!--        <a class="navbar-brand" th:href="@{/showloginPage}">Desi</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/employee}">Employee</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/designation}">Designation</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/department}">Department</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/accessories}">Accessories</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>

                    <!--                    <form class="form-inline my-2 my-lg-0" method="get">-->
                    <!--                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"-->
                    <!--                               name="keyword" hidden value="true" >-->

                    <!--                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                    <!--                            <a th:href="@{/find-by-keyword/true}" class="dropdown-item ">Show Active</a>-->
                    <!--                            <a class="dropdown-item" th:href="@{/find-by-keyword/false}">Show Inactive</a>-->
                    <!--                        </div>-->

                    <!--                    </form>-->

                </li>
            </ul>

            <!--<form class="form-inline my-2 my-lg-0" method="get" th:action="@{/submit}">!-->

            <form class="form-inline my-2 my-lg-0" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                       name="keyword" >
                <a th:href="@{/find-by-keyword/} + ${keyword}"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
            </form>

        </div>
    </nav>
</div>

<br>
<br>
<div class="container">
    <div class ="row">
        <div class="col-md-4">

            <form th:action="@{/designation/saveDesignation}" method="post" th:object="${designationDto}">
                <input type="text" th:field="*{id}" hidden>

                <div class="form-group">
                    <label for="exampleInputEmail1">Designation Name</label>
                    <input type="text" th:field="*{name}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required >
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Designation ShortCode</label>
                    <input type="text" th:field="*{shortcode}" class="form-control" id="exampleInputPassword1" required >
                </div>

                <div class="form-check">
                    <input type="checkbox" th:field="*{status}" value="status" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label">Status</label>
                </div>

                <button type="submit" class="btn btn-primary" >Submit</button>
                <button type="submit" class="btn btn-primary" >Reset</button>

            </form>

            <p style="font-style: italic" th:text="${message}"></p>
        </div>



        <div class = "col-md-8">
            <a th:href="@{/designation/find-by-keyword/true}" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Active</a>
            <a th:href="@{/designation/find-by-keyword/false}" class="btn btn-secondary btn-sm inactive" role="button" aria-pressed="true">Inactive</a>
            <table class="table table-striped">
                <thead>

                <tr>
                    <th scope="col">SNo</th>
                    <th scope="col">Desingation Name</th>
                    <th scope="col">Short Code</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="d: ${designationDtoList}">
                    <td th:text="${d.id}"></td>
                    <td th:text="${d.name}"></td>
                    <td th:text="${d.shortcode}"></td>
                    <td th:text="${d.status?'Active':'Inactive'}"></td>
                    <td><a th:href="@{designtion/find-by-id/} + ${d.id}"><button class="btn-info">Edit</button></a></td>
                    <td><a th:href="@{designation/delete/} + ${d.id} "><button class="btn-danger">Disable</button></a></td>
                </tbody>

            </table>
        </div>

    </div>
</div>

</body>
</html>