<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>

<body>
<div class="container">
    <div th:fragments="generic_css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
    </div>
    <div th:fragments="navbar" class = "container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!--        <a class="navbar-brand" th:href="@{/showloginPage}">Desi</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/employee}">Employee</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/designation}">Designation</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/department}">Department</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/accessories}">Accessories</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown
                        </a>

                        <!--                    <form class="form-inline my-2 my-lg-0" method="get">-->
                        <!--                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"-->
                        <!--                               name="keyword" hidden value="true" >-->

                        <!--                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--                            <a th:href="@{/find-by-keyword/true}" class="dropdown-item ">Show Active</a>-->
                        <!--                            <a class="dropdown-item" th:href="@{/find-by-keyword/false}">Show Inactive</a>-->
                        <!--                        </div>-->

                        <!--                    </form>-->

                    </li>
                </ul>

                <!--<form class="form-inline my-2 my-lg-0" method="get" th:action="@{/submit}">!-->

                <form class="form-inline my-2 my-lg-0" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                           name="keyword" >
                    <a th:href="@{/find-by-keyword/} + ${keyword}"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></a>
                </form>

            </div>
        </nav>
    </div>

    <h1> Welcome to Main Page</h1>
    <p1>This is Employee Management System project.</p1>

<!--    <div class="row">-->
<!--        <div class="col-md-4">-->
<!--            <h2>Department Form</h2>-->
<!--            <form>-->
<!--                <div class="form-group">-->
<!--                    <label>Department Code</label>-->
<!--                    <input type="text" class="form-control"  placeholder="department">-->
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                    <label for="exampleInputPassword1">Password</label>-->
<!--                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
<!--                </div>-->
<!--                <div class="form-check">-->
<!--                    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">Submit</button>-->
<!--            </form>-->

<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--            <h2>Department List</h2>-->

<!--        </div>-->

<!--    </div>-->

</div>
</body>
</html>